.main-slide {
	background-image: url('images/car_credit.png')
}

.main-slide .page {
	padding-top: 5vh;
}

.topic h3 {
	margin-bottom: 0;
}

.topic p {
	margin-top: 3.5px;
	font-size: 1.5em; 
}

.main-slide .form button[type='submit'] p{
	margin: 12px;
}


.main-slide .form {
	width: 35vw;
}

.main-slide .form > div {
	background-image: none;
	width: 400px;
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: white;

}

.main-slide form h3 {
	width: initial;
	font-size: 1.5em;
} 

.main-slide form > p {
	font-size: 1em;
	font-weight: bold;
	color: #F2B800;
}

.main-slide form input {
	border: 1px solid #ccc;
}

.main-slide form button {
	background-color: #F2B800;
	color: black;
}

.main-slide .page {
	display: flex;
}


.main-slide .page > div:first-child {
	width: 65vw;
}

.radio-box {
	display: flex;
	position: relative;
	border: 1px solid #ccc;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 25px;
    height: 40px;
    outline: none;
}

.radio-box > div {
	flex: 1 1 100%;
}

.radio-box > div:first-child {
	position: absolute;
}

.radio-box input[type='radio'] {
	-webkit-appearance: none;
	margin: 0;
	border: none;
}

.radio-box label {
	position: absolute;
	top: 11px;
}

#newauto + label {
	left: 45px;
}

#usedauto + label {
	right: 55px;
}

.radio-checker {
	width: 50%;
	height: 40px;
	background-color: #F2B800;
	border-radius: 40px;
	transition: left 0.3s ease-out;
}

.head-numbers p {
    width: 150px;
    margin-left: 0;
    text-align: left;
}

.head-numbers .page > div > h2 {
	font-size: 3.2em;
}

.car-credit-second-slide {
	width: 80vw;
	margin: 0 auto;
}

.car-credit-second-slide > div {
	display: flex;
	justify-content: space-around;
}

.car-used, .car-new {
	display: flex;
	flex-wrap: wrap;
}

.car-used {
	margin-right: 20px;
}

.car-credit-second-slide > div > div > div {
	width: 100%;
}

.car-used > div:first-child {
	background-image: url('images/used_cars.png');
  	background-size: cover;
  	background-position: center;
  	width: 40vw;
    height: 30vw;
}

.car-new > div:first-child {
	background-image: url('images/new_cars.png');
  	background-size: cover;
  	background-position: center;
  	width: 40vw;
    height: 30vw;
}

.car-credit-second-slide .description {
	background-color: #F2B800;
}

.description {
	display: flex;
	height: 145px;

}

.description > div {
	display: flex;
	margin: auto;
	width: 100%;
}

.description > div >div:first-child {
	background-color: black;
	color: #F2B800;
	margin-right: 3vw;
	display: flex
}


.description .custom-font {
	font-size: 1.8em;
	margin: auto;
	margin-right: 20px;
	margin-left: 20px;
	white-space: nowrap;
}

.description p {
	font-size: 1.1em;
	margin-right: 25px;
}

.fourth-slide-box p {
	font-size: 1.3em;
}

.fourth-slide-box img {
	width: 120px;
}

.questions {
	width: 80vw;
    height: 320px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.35);
    border-radius: 40px;
    display: flex;
    font-size: 0.9em;
    position: relative;
}

.questions > div {
	margin: auto;
}


.answers .radio-box {
	border: none;
	width: initial;
    margin: initial;
}


.answers .radio-box > div {
	border-radius: 40px;
}

.answers .radio-box > div:first-child {
    position: initial;
    margin-right: 15px; 
}

#used_car, #new_car {
	height: 40px;
	width: 200px;
	outline: none;
	border-radius: 40px;
	border: 1px solid #F2B800;
}


#used_car + label {
	top: 10px;
	right: 90px;
}

#new_car + label {
	top: 10px;
	left: 80px;
}

#used_car:checked, #new_car:checked {
	background-color: #F2B800;
}

.number-question-box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 15px;
}

.number-question-box > p {
	margin: 0;
	font-size: 1.2em;
}

.number-question-box > div  {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #F2B800;
	font-size: 1.2em;
	display: flex;
}

.number-question-box > div > span {
	padding-top: 3px; 
	padding-left: 1px;
	margin: auto;
}

.sixth-slide {
	text-align: center;
}

.questions {
	position: relative;
}

.questions >  img{
	position: absolute;
	right: 25px;
    bottom: 20px;
}




