.main-slide {
	background-image: url('images/consumer_main.png')
}

.head-calculator > form > div:nth-child(2) {
	
	flex: 1 1 100%;
}


.no-margins {
	margin: 0;
	padding: 0; 
}

.title {
	margin-top: 60px; 
	text-align: center;
}

.title > p {
	margin-top: 10px;
}

.head-numbers h2 {
	font-size: 50px;
}

.head-numbers p {
	width: 150px;
	margin-left: 0;
	text-align: left;
}

.second-slide h2{
	text-align: left;
}

.third-consumer-slide {
	text-align: center;
	margin-top: 120px;
}

.cards-wrapper {
	margin-top: 30px;
	width: 80vw;
	display: flex;
}



.cards-wrapper > div {
	flex: 1 1 100%;
	margin: 10px;
	border-radius: 40px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.card-content {
	margin: 15px 30px; 
	white-space: nowrap;
}

.card-content > div {
	margin: 0 auto;  
}

.card-content h5 {
	font-size: 1.8em;
	margin: 20px auto 30px auto; 
}

.card-content > div > div {
	display: flex;
	margin-bottom: 20px;
}

.card-content > div > div > div:first-child {
	flex: 0 0 70%;
	display: flex;
}

.bottom-line {
	border-bottom: 1px solid #F2B800;
	width: 100%;
	margin: 5px; 
}

