.refinancing {
	background-image: url('images/refinancing.png')
}

.refinancing .page {
	padding-top: 5vh;
}

.topic {
	margin-right: 25px; 
	margin-top: 25px; 
}


.refinancing .page > div > h3 {
	width: initial;
	margin: 0;
	padding: 0;
	font-size: 2em;
}

.refinancing .page > div > p {
	font-size: 1.3em;
}

.refinancing .topic p, .refinancing .form p  {
	margin-top: 3px;
}

.refinancing .form button[type='submit'] p{
	margin: 12px;
}


.refinancing .form {
	width: 35vw;
}

.refinancing .form > div {
	background-image: none;
	width: 400px;
	border-radius: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color: white;

}

.refinancing form h3 {
	width: initial;
	font-size: 1.5em;
} 

.refinancing form > p {
	font-size: 1em;
	font-weight: bold;
	color: #F2B800;
}

.refinancing form input {
	border: 1px solid #ccc;
}

.refinancing form button {
	background-color: #F2B800;
	color: black;
}

.refinancing .page {
	display: flex;
}


.refinancing .page > div:first-child {
	width: 65vw;
}


.head-numbers .page > div > p {
	font-size: initial;
}

.grid-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	width: 75vw;
	margin: 0 auto;
}

.grid-box > div {
	display: flex;
}

.image, .description {
	width: 50%;
	height: 200px;
}

.image {
	background-size: cover;
  	background-position: center;
}

.image_1 {
	background-image: url('images/grid_image_1.png');
}

.image_2 {
	background-image: url('images/grid_image_2.png');
}

.image_3 {
	background-image: url('images/grid_image_3.png');
}

.image_4 {
	background-image: url('images/grid_image_4.png');
}

.image_5 {
	background-image: url('images/grid_image_5.png');
}

.image_6 {
	background-image: url('images/grid_image_6.png');
}

.description {
	background-color: #F2B800;
	display: flex;
}

.description > div {
	margin: auto;
	margin-left: 10px;
	margin-right: 15px;
}

.second-slide {
	box-shadow: none;
}

.refinancing-second-slide {
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.refinancing-second-slide h2 {
	padding-top: 80px;
	margin: initial;
	margin-bottom: 30px; 
}

