.yellow-sidebar {
	font-size: 0.9em;
	font-family: Arial;
	font-weight: 600;
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background-color: #F2B800;
	z-index: 20000;
	transition: right 0.5s ease-out;
	display: none;

}

.yellow-sidebar .switch {
	margin: 0;
	height: 100px;

}

.yellow-sidebar > .switch > div {
	width: 50%;
	margin: 0;
	display: flex;
}

.yellow-sidebar .switch div:last-child {
	background-color: white;
}

.yellow-sidebar div {
	margin: 20px 0;
}

hr {
	border: 1px solid black;
	margin: 20px 0;
}

.ul-box ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ul-box ul li{
	margin: 20px 0;
}

.sidebar-button {
	position: fixed;
	top: 0;
	width: 65px;
	height: 65px;
	right: 0;
	background-color: #F2B800;
	display: flex;
	z-index: 30000;
	display: none;
	transition: right 0.5s ease-out;

}

.sidebar-button > img {
	margin: auto;
	transform: rotate(45deg);
	transition: transform 0.5s ease-out;
}

@media screen and (max-width: 1200px) {
	.sidebar-button {
		display: flex;
	}

	.yellow-sidebar {
		display: block;
	}

	.yellow-nav {
		display: none;
	}
}





